<%= link_to items_path, class: "link" do %>
  <div class="card">
    <div class="homepage-card-icon">
      <p style="font-size: 40px;"><i class="<%= icon %>"></i></p>
    </div>
    <div class="homepage-card-text">
      <p><%= text %></p>
    </div>
  </div>
<% end %>
