<div class="modal fade" id="<%= item.id %>-photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-photo" style="text-align: center;">
          <%= display_item_photo(item, {classes: 'photo-large'}) %>
        </div>
      </div>
    </div>
  </div>
</div>
