<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <% @items.each do |item| %>
        <strong><%= link_to item.name, item_path(item) %></strong>
        <ul>
          <li>Location: <%= item.location %></li>
          <li>Ref number: <%= item.reference_number %></li>
        </ul>

      <% end %>
    </div>
  </div>
</div>
